/*-------Base styles----------*/
*::-webkit-input-placeholder {
  color: #fff;
  font-weight: 200;
  opacity: 1;
}

*:-moz-placeholder {
  color: #fff;
  font-weight: 200;
  opacity: 1;
}

*::-moz-placeholder {
  color: #fff;
  font-weight: 200;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #fff;
  font-weight: 200;
  opacity: 1;
}

html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

html.js .loader .loader_inner {
  background-image: url("../img/preloader.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
}

body input:required:valid,
body textarea:required:valid {
  color: green;
}

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: normal;
  font-size: 1em;
  min-width: 320px;
  position: relative;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.hidden {
  display: none;
}

/*----------end---------------*/
body.open {
  overflow: hidden;
}

.container {
  position: relative;
  max-width: 1840px;
  padding: 0 20px;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  background: url(../img/main-bg.jpg) 31% top no-repeat;
  background-size: cover;
  height: 1200px;
  overflow: hidden;
}
/* pagination*/
.page-numbers {
    color: #fff;
	display: inline-block;
	padding: 5px 10px;
	margin: 0 2px 0 0;
	border: 1px solid #eee;
	line-height: 1;
	text-decoration: none;
	border-radius: 2px;
	font-weight: 600;
}
.page-numbers.current,
a.page-numbers:hover {
    color: #fff;
	background: rgba(255, 255, 255, 0.25);
}

/*-----mobile menu-------*/
.menu-mobile__overlay {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: transparent;
  z-index: 99;
}

#menu-mobile {
  right: -100%;
  top: 0;
  width: 400px;
  height: 100%;
  position: fixed;
  transition: right 0.3s ease-out;
  -webkit-transition: right 0.3s ease-out;
  -moz-transition: right 0.3s ease-out;
  z-index: 9999;
}

#menu-mobile.mobile-open {
  right: 0;
}

.menu-mobile__inner {
  width: 400px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  overflow: auto;
  background: #fff;
  padding: 32px 99px 0 50px;
}

#menu-mobile__close {
  display: block;
  position: absolute;
  width: 35px;
  height: 36px;
  top: 40px;
  right: 100px;
  cursor: pointer;
  background: url(../img/close.png) no-repeat;
}

.menu__title {
  display: block;
  margin: 0 0 0;
  padding-bottom: 25px;
  font-size: 2.25em;
  font-weight: 200;
  color: #3f3f42;
  text-transform: uppercase;
  border-bottom: 1px solid #bbbcbe;
}

.menu__list {
  margin-top: 96px;
}

.menu__list li {
  display: block;
}

.list__title {
  display: block;
  margin: 30px 0 12px;
  font-size: 1.5em;
  color: #3f3f42;
}

.list__link {
  display: block;
  margin-bottom: 18px;
  font-weight: 300;
  color: #7d7d7d;
}

.list__link:hover {
  text-decoration: underline;
}

.copyright__menu {
  margin: 350px 0 40px;
  padding-top: 35px;
  font-size: 14px;
  font-weight: 300;
  color: #3f3f42;
  border-top: 1px solid #bbbcbe;
}
.wpcf7-not-valid-tip{
    position: absolute;
	margin-left: 15px;
    border: 1px solid #BBBBBB;
    color: #FFFFFF;
    font-family: tahoma;
    font-size: 11px;
    padding: 1.6% 15px;
    width: 150px;
    z-index: 5001;
    text-align: left;
}

/*--------end------------*/
header {
  text-align: right;
}

.change__lang {
  text-transform: capitalize;
  display: inline-block;
  position: relative;
  margin: 20px 16% 0 0;
  z-index: 9;
}

.change__lang a {
  font-size: 1.875em;
  font-weight: 200;
  font-style: italic;
  color: #fff;
  text-decoration: underline;
}

.change__lang a:hover {
  text-decoration: none;
}

.change__lang a.active {
  font-weight: bold;
  text-decoration: none;
}

.change__lang span {
  display: inline-block;
  position: relative;
  top: 2px;
  left: 1px;
  font-size: 2.2em;
  font-weight: 200;
  color: #fff;
  transform: rotate(10deg);
}

.menu__btn {
  float: right;
  position: relative;
  margin-top: 30px;
  z-index: 9;
}

.menu__btn b {
  display: block;
  width: 40px;
  height: 6px;
  margin-bottom: 10px;
  border-radius: 5px;
  background: #fff;
}

.main {
  position: relative;
  height: 80%;
}

.main .container {
  height: 100%;
}

.main__top {
  display: inline-block;
  margin: -35px 0 0 38%;
  text-align: right;
}

.main__title {
  display: block;
  margin: 0;
  font: 10.938em/0.85 "Avalon";
}

.main__prof {
  display: block;
  position: relative;
  top: -10px;
  font: 2.938em "Cassandra";
  color: #e8d4b8;
}

.main__calendare {
  position: absolute;
  bottom: 95px;
  right: 0;
}

.calendare__title {
  display: block;
  text-align: right;
  margin: 0 20px 15px 0;
  font: 1.875em "Cassandra";
}

.calendare__list {
  margin-right: 75px;
}

.calendare__list li {
  float: right;
  position: relative;
  margin: 0 38px;
  text-align: left;
}

.calendare__list li:before {
  content: '';
  position: absolute;
  top: 12px;
  left: -35px;
  width: 1px;
  height: 100px;
  background: rgba(255, 255, 255, 0.15);
}

.data__title {
  font-size: 1.875em;
  font-weight: 200;
}

.data__count .data__num {
  display: inline-block;
  position: relative;
  top: -7px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.25);
  transition: all .15s ease;
}

.data__count .data__num span {
  display: block;
  position: relative;
  top: 12px;
  text-align: center;
  cursor: pointer;
}

.data__count .data__num:hover {
  background: rgba(255, 255, 255, 0.18);
}

.data__count .data__num:hover .event__block {
  visibility: visible;
  opacity: 1;
}

.data__count .data__num:hover:before {
  content: ' ';
  position: absolute;
  width: 60px;
  height: 100px;
  top: -40px;
  left: 0;
}

.data__num-1 .event__block {
  right: -60px;
}

.data__num-2 .event__block {
  right: 0;
}

.event__block {
  opacity: 0;
  transition: .2s linear;
  visibility: hidden;
  position: absolute;
  bottom: 115%;
  right: -98px;
  width: 250px;
  height: 350px;
  text-align: center;
  border: 1px solid #000;
  background: url(../img/modal-bg.jpg) 0 0 no-repeat;
  background-size: cover;
  z-index: 99;
}

.event__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.event__wrap {
  position: absolute;
  bottom: 10px;
  left: 0;
  margin: 0 18px;
}

.event__title {
  display: block;
  position: relative;
  margin: 0;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  line-height: 18px;
}

.event__descr {
  position: relative;
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  line-height: 16px;
}

.link__more {
  display: inline-block;
  position: relative;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
}

.link__more:before {
  content: ' ';
  position: absolute;
  top: -15px;
  left: 5px;
  width: 100px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
}

.link__more i {
  display: inline-block;
  position: relative;
  top: -2px;
  right: 0;
  width: 18px;
  height: 6px;
  margin-left: 10px;
  background: url(../img/arrow-more.png) 0 0 no-repeat;
}

.line__right {
  position: absolute;
  bottom: 300px;
  right: 0;
  width: 100px;
  height: 1px;
  background: #fff;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0 0 25px;
  text-align: right;
}

.copyright {
  float: left;
  position: relative;
  top: 20px;
  font-size: 0.875em;
  font-weight: 300;
}

.copyright:before {
  content: ' ';
  position: absolute;
  top: -40px;
  left: 0;
  width: 100px;
  height: 1px;
  background: rgba(255, 255, 255, 0.4);
}

.footer__social {
  display: inline-block;
  margin-right: 40px;
  vertical-align: middle;
}

.footer__social a {
  display: inline-block;
  font-size: 0;
  width: 12px;
  height: 26px;
  margin-left: 30px;
  vertical-align: middle;
  background: url(../img/sprites.png) 0 0 no-repeat;
}

.footer__social .yt {
  width: 27px;
  background-position: -16px 0;
}

.footer__social .inst {
  width: 24px;
  height: 24px;
  background-position: -46px -1px;
}

.footer__contact {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  text-align: right;
}

.footer__contact:before {
  content: ' ';
  position: absolute;
  top: -20px;
  right: 0;
  width: 100px;
  height: 1px;
  background: rgba(255, 255, 255, 0.4);
}

.footer__contact a {
  display: block;
  color: #fff;
  text-decoration: none;
}

.developer {
  font-size: 0.75em;
  color: #a1a1a1;
}

.developer a {
  display: inline-block;
  text-decoration: underline;
}

.developer a:hover {
  text-decoration: none;
}

.maxheightset::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #87868b;
}

.maxheightset::-webkit-scrollbar
{
	width: 6px;
	background-color: #87868b;
}

.maxheightset::-webkit-scrollbar-thumb
{
	background-color: #ffffff;
}

/*-----------------About page----------------*/
.wrapper.wrapper__inner {
  background: url(../img/about-bg.jpg) 31% top repeat-y;
}

.main__top.main__top-about {
  margin: 74px 0 0 50%;
}

.about__block {
    
    height: auto !important;
   
  margin-left: 50%;
}
.maxheightset{
     overflow: auto;
    max-height: 730px;
}
.maxheightset_video{
    
    max-height: 700px;
}

.about__block p {
  font-weight: 300;
}

/*-------------------end---------------------*/
/*-----------------Repertory page----------------*/
.repertory__block {
  margin: 55px 0 0 50%;
}

.repertory__block ul {
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.repertory__block ul li {
  margin-bottom: 5px;
  font-size: 14px;
}

.repertory__title {
  display: block;
  margin: 0 30px 16px 0;
  text-align: right;
  font-size: 18px;
  text-transform: uppercase;
}

/*----------------------end----------------------*/
/*-----------------Concert page----------------*/
.wrapper.wrapper__inner-concert {
  position: relative;
  height: 1750px;
  background: url(../img/concert-bg.jpg) 31% top repeat-y;
  background-size: auto 1200px;
}

.concert__block {
  float: right;
  margin-top: 20px;
}

.concert__item {
  margin-bottom: 46px;
}

.concert__img {
  position: relative;
  display: inline-block;
  max-width: 600px;
  height: 300px;
}

.item__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 75px;
  padding-top: 17px;
  background: rgba(0, 0, 0, 0.35);
}

.item__overlay span {
  position: relative;
  display: inline-block;
  margin-left: 55px;
  vertical-align: middle;
  font-size: 14px;
}

.item__overlay span:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: -34px;
}

.item__overlay .date:before {
  width: 22px;
  height: 20px;
  background: url(../img/calendare-icon.png) 0 0 no-repeat;
}

.item__overlay .time:before {
  width: 21px;
  height: 21px;
  background: url(../img/time-icon.png) 0 0 no-repeat;
}

.item__overlay .address:before {
  top: 10px;
  width: 19px;
  height: 23px;
  background: url(../img/map-icon.png) 0 0 no-repeat;
}

.concert__title {
  display: block;
  margin: 8px 0 4px;
  font-size: 24px;
  font-weight: 800;
}

.concert__entry {
  display: block;
  font-size: 18px;
}

.bottom__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 550px;
  background: rgba(167, 167, 167, 0.6);
}

.concert__form {
  display: inline-block;
  position: relative;
  margin: 45px 0 0 55%;
  text-align: center;
  width: 450px;
  z-index: 9;
}

.concert__form input {
  display: inline-block;
  width: 400px;
  height: 60px;
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: 18px;
  color: #fff;
  border: none;
  background-color: rgba(255, 255, 255, 0.25);
  outline: none;
  transition: all .15s ease;
}

.concert__form input:focus {
  box-shadow: 0 0 10px #000;
}

.form__title {
  display: block;
  margin-bottom: 33px;
  font-size: 24px;
  font-weight: 800;
}

.form__btn {
  display: inline-block;
  width: 400px;
  height: 60px;
  font-size: 18px;
  border: none;
  background: #fff!important;
  cursor: pointer;
  outline: none;
  transition: all .15s ease;
}

.wysija-submit {
  color: #000000!important;
  margin-top: -15px!important;
  display: inline-block!important;
  width: 400px;
  height: 60px;
  font-size: 18px!important;
  border: none!important;
  background: #fff!important;
  cursor: pointer!important;
  outline: none!important;
  transition: all .15s ease!important;
}

.form__btn:hover {
  box-shadow: 0 0 10px #000;
}

.photo__dev {
  display: inline-block;
  margin-right: 175px;
  font-size: 18px;
  color: #87868b;
}

/*-------------------end---------------------*/
/*-----------------Video page----------------*/
.wrapper.wrapper__inner-media {
  position: relative;
  height: 1200px;
  background: url(../img/media-bg.jpg) 31% top repeat-y;
}

.media__block {
  float: right;
  margin-top: 50px;
  text-align: right;
}
.media__block-audio p{
    margin-bottom: 6px;
    float: left;
    width: 275px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.mejss-bottom{
        border-bottom: 1px dashed rgba(255, 255, 255, 0.25);
    height: 15px!important;
}
.screen-reader-response ul{
    display: none;
}
.screen-reader-response {
    display: none;
}
.wpcf7-validation-errors {
    display: none;
}
.party_audio p{
        text-align: left;
}
.media__block.media__block-video {
   width: 50%;
}

.video__item {
  display: inline-block;
  margin: 0 0 15px 15px;
  width: 440px;
  height: 300px;
  transition: all .15s ease;
}

.video__item img:hover {
  box-shadow: 0 0 10px #000;
}

.video__item a {
  display: inline-block;
  position: relative;
  outline: none;
}

.video__item a:hover:before {
  opacity: 1;
}

.video__item a:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 36px;
  height: 40px;
  margin: auto;
  opacity: .6;
  background: url(../img/play-icon.png) 0 0 no-repeat;
}

.video__item a img {
  width: 100%;
}

/*--------------------end--------------------*/
/*-----------------Photo page----------------*/
.media__block.media__block-photo {
 
    width: 50%;
}

.photo__item {
  display: inline-block;
  margin: 0 2px 3px;
}

.photo__item a {
  display: inline-block;
  position: relative;
  width: 295px;
  height: 200px;
  outline: none;
  transition: all .15s ease;
}

.photo__item a:hover {
  box-shadow: 0 0 10px #000;
}

.photo__item a img {
  width: 100%;
}

/*--------------------end-------------------*/
/*-----------------Audio page----------------*/
.media__block.media__block-audio {
  float: none;
  margin-left: 50%;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.audio__item {
  height: 50px;
  padding: 14px 0;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.25);
}

.audio__title {
  float: left;
  width: 275px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*----------Audio player-----------*/
.mejs-container {
  display: inline-block;
  width: 520px !important;
  background: none !important;
}

.mejs-container .mejs-controls {
  background: none !important;
}

.mejs-container .mejs-controls div {
  float: none !important;
  font: 14px "Roboto" !important;
  vertical-align: middle !important;
}

.mejs-container .mejs-controls .mejs-playpause-button {
  display: inline-block;
  position: relative;
  top: -2px;
}

.mejs-container .mejs-controls .mejs-play button {
  margin-left: 0 !important;
  outline: none;
}

.mejs-container .mejs-controls .mejs-pause button {
  left: -5px;
}

.mejs-container .mejs-controls .mejs-time {
  height: 20px !important;
  padding-top: 0 !important;
}

.mejs-container .mejs-controls .mejs-time.mejs-currenttime-container {
  display: inline-block !important;
}

.mejs-time.mejs-duration-container {
  display: none !important;
}

.mejs-controls .mejs-button button:focus {
  outline: none !important;
}

.mejs-controls .mejs-time-rail {
  display: inline-block !important;
  width: auto !important;
}

.mejs-controls .mejs-time-rail .mejs-time-total {
  position: absolute;
  right: 0;
  width: 67% !important;
  height: 2px;
  margin: 7px 0 0 !important;
  border-radius: 0 !important;
  outline: none;
  background: rgba(255, 255, 255, 0.5) !important;
}

.mejs-controls .mejs-time-rail .mejs-time-current {
  height: 2px;
  background: #fff !important;
  border-radius: 0 !important;
}

.mejs-controls .mejs-time-rail .mejs-time-loaded {
  display: none !important;
}

.mejs-button.mejs-volume-button.mejs-mute, .mejs-button.mejs-volume-button.mejs-unmute {
  position: absolute;
  top: -2px;
  left: 75px;
}

.mejs-controls .mejs-horizontal-volume-slider.mejs-mute, .mejs-controls .mejs-horizontal-volume-slider.mejs-unmute {
  position: absolute;
  top: 1px;
  left: 105px;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  width: 40px !important;
  height: 2px !important;
  background: rgba(255, 255, 255, 0.5) !important;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  height: 2px !important;
  background: #fff !important;
}

/*----------end player--------------*/
/*--------------------end--------------------*/
/*-----------------Party page----------------*/
.wrapper.wrapper__inner-party {
  position: relative;
  height: 2100px;
  background: url(../img/event-bg.jpg) 31% top repeat-y;
  background-size: auto 1200px;
}

.main__top.main__top-party {
  text-align: left;
}

.party__block {
  height: 690px;
  margin: 44px 0 0 50%;
}

.party__block strong {
  display: block;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 700;
}

.party__block p {
  font-size: 14px;
  line-height: 22px;
}

.party__photo {
  margin: 25px 0 17px;
}

.party__photo a {
  float: left;
  width: 30%;
  margin-right: 20px;
}

.party__photo a:last-child {
  margin-right: 0;
}

.party__photo a img {
  width: 100%;
  height: 100%;
}

.media__block.media__block-party {
  float: none;
  margin: 32px 0 0 50%;
}

.media__title {
  display: block;
  text-align: left;
  font: 100px "Avalon";
}

.media__category {
  margin-bottom: 55px;
}

.category__title {
  display: block;
  margin-top: -16px;
  padding-bottom: 15px;
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

/*--------------------end--------------------*/
/*-----------------Contact page----------------*/
.wrapper.wrapper__inner-contact {
  position: relative;
  height: 1600px;
  background: url(../img/contact-bg.jpg) 31% top repeat-y;
  background-size: auto 1200px;
}

.contact__block {
  margin: 47px 0 0 50%;
}

.contact__item {
  display: block;
  position: relative;
  margin: 0 0 7px 40px;
  font: 700 24px "Proxima";
}

.contact__item a {
  display: inline-block;
  margin-left: 140px;
  font: 300 24px "Proxima";
  color: #fff;
}

.contact__item:before {
  content: ' ';
  position: absolute;
  top: -2px;
  left: -40px;
}

.contact__item.contact__item-phone:before {
  width: 30px;
  height: 30px;
  background: url(../img/phone-icon.png) 0 0 no-repeat;
}

.contact__item.contact__item-mail:before {
  top: 3px;
  width: 28px;
  height: 20px;
  background: url(../img/mail-icon.png) 0 0 no-repeat;
}

.contact__item.contact__item-mail a {
  margin-left: 175px;
}

.contact__social {
  display: inline-block;
  margin-top: 25px;
}

.contact__social a {
  display: block;
  position: relative;
  margin: 0 0 8px 40px;
  font: 700 24px "Proxima";
  color: #fff;
}

.contact__social a:hover {
  text-decoration: underline;
}

.contact__social a:before {
  content: ' ';
  position: absolute;
  width: 31px;
  height: 30px;
  top: 0;
  left: -40px;
}

.contact__social .fb__link:before {
  left: -32px;
  background: url(../img/facebook-icon.png) 0 0 no-repeat;
}

.contact__social .inst__link:before {
  background: url(../img/inst-icon.png) 0 0 no-repeat;
}

.contact__social .yt__link:before {
  background: url(../img/youtube-icon.png) 0 0 no-repeat;
}

.contact__form {
  width: 400px;
  margin-top: 32px;
}

.contact__form input {
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: 18px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.25);
  transition: all .15s ease;
}

.contact__form input:focus {
  box-shadow: 0 0 10px #000;
}

.contact__form textarea {
  width: 100%;
  height: 130px;
  margin-bottom: 6px;
  padding: 20px 0 0 20px;
  font-size: 18px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.25);
  transition: all .15s ease;
}

.contact__form textarea:focus {
  box-shadow: 0 0 10px #000;
}

.contact__form button {
  width: 100%;
  height: 60px;
  border: none;
}

.form__title.form__title-contact {
  margin-bottom: 17px;
}

.press__kit {
  margin-top: 26px;
}

.press__title {
  margin-bottom: 33px;
  font: 100px "Avalon";
}

.press__link {
  display: block;
  position: relative;
  margin: 0 0 32px 50px;
  font: 700 24px "Proxima";
  color: #fff;
}

.press__link:before {
  content: ' ';
  position: absolute;
  top: -12px;
  left: -50px;
  width: 38px;
  height: 51px;
  background: url(../img/pdf-icon.png) 0 0 no-repeat;
}

/*---------------------end---------------------*/
